body{
    color: #FFFFFF;
    font-family: "HelveticaNeue-Light", "Helvetica Neue ", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    background-color: #002147;
    height: 100%;
    width: 100%;
}

section.pane{
    height: 100vh;
    min-height: 500px;
    display: flex;
    flex-wrap: no-wrap;
}

section#branding{
    justify-content: center;
    align-items: center;
    flex: 1;

    min-height: 80px;
}









































section.left{
    min-width: 300px;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #002147;
    z-index: 10;
    padding: 2vh 2vw;
    box-sizing: border-box;
}

#navigation{
    background-color: red;
    flex: 1;
    display: flex;
}

a {
    text-decoration: none;
    color: white;
}
.navigation-link {
    flex: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #002147;
}

.navigation-link:hover{
    background-color: #8D817B;
}

#about {
    flex: 1;
    flex-direction: column;
    display: flex;
}

#map-info {
    flex: 1;
    display: flex;
    flex-direction: column;

}

#map-info > #key{
    /*background-color: red;*/
    flex: 1;
}

#map-info > #info{
    /*background-color: blue;*/
    flex: 1;

}



section#description{
    flex: 15;
    text-align: center;
}

section.right{
    flex: 4;
    display: flex;
    flex-direction: column;
}



#map{
    flex: 13;
    display: flex;
    flex-flow: column wrap;
}

#map div:first-child{
    flex: 1 !important;
    /*position: relative !important;*/
    height: auto !important;
    width: auto !important;
}


#layers{
    flex: 1;
    display: flex;
    flex-direction: row;
    cursor: pointer;


    justify-content: center;
    /*align-items: center;*/

    text-align: center;

}

.layer-wrapper {
    flex: 1;
    background-color: #002147;

    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 2vh;*/
}

.layer-wrapper:hover{
    background-color: rgba(141,129,123, 0.5);
}

.layer-wrapper.selected{
    background-color: #8D817B;
}

.layer-wrapper.selected:hover{
    background-color: rgba(141,129,123, 0.5);
}

.layer-content > span {
    font-size: 20px;
    /*font-size: 2.5vmin;*/
}




.left-justify{
    text-align: left;
}


.align{
    vertical-align: middle;
    /*display: block;*/
    margin: 0 auto;
}

#healy-hall{
    height: 100px;
}

#georgetown-logo{
    margin: auto;
    width: 100%;
    max-width: 300px;
    /*max-height:100%;*/
    /*padding-bottom: 50px;*/
    /*margin-bottom: 500px;*/

    /*width: 66%;*/
    /*max-width: 300px;*/

}





h1{
    line-height: 1.2em;
    /*line-height: 20px;*/
    font-size: 2em;

}

.leaflet-control-attribution{
    display: none !important;
}



#discover{
    /*background-color: green;*/
}

#learn {
    background-color: #8D817B;
}




.inset{
    margin: 0 auto;

    padding: 2vh 2vw;
    width: 80%;
    /*margin: 0 auto;*/

    /*background: red;*/

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}




div#legendBox{
    background: url(../img/legendBullets.png) 0 0 no-repeat;
    margin: 30px 0 0 10px;
}
div#legendBox ul li{
    list-style: none;
    font-size: 15px;
    margin: 7px 0 0 22px;
    /*opacity: .5;*/
}

div#map{

/*    width: 66%;
    position: absolute;
    z-index: 0;
    bottom: 0;
    top: 0;
    right: 0;*/



    /*left: 350px;*/
    /*background-color: #002147;*/
}

.left {
    text-align: left;
}

.center{
    text-align: center;
    /*margin: 0 auto;*/
    /*padding: 2vh 2vw;*/
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#marker{


    /*height: 500px;*/
    /*width: 100%;*/
    /*background-color: #8D817B;*/
}


#learn-more{
    position: absolute;
    bottom: 0;
    padding: 0;
    width: 100%;
    left: 0;

}
#more-info {
    background-color: #8D817B;

    position: absolute;
    bottom: 0px;
    height: 400px;

    width: 34%;

    cursor: pointer;
}

#topic-list{
    list-style-type:square;
}

#info h1, #info h2,  #info p  {
    margin-bottom: 10px;
}


/*@media only screen and (min-device-width : 414px) and (max-device-width : 736px)   {*/

@media only screen and (min-width: 0px) and (max-width : 736px) {

    #navigation{
        flex-direction: column;
    }

    #discover{
        display: flex;
        flex-direction: column;

        height: 150vh;
    }

    #about{
        max-height: 200px;
    }

    .left{
        /*background-color: green !important;*/
        flex: 1 !important;
        /*width: 100%  !important;*/
        /*height: 25%  !important;*/
    }

    #branding {
        flex: none !important;
        /*min-height: 40px !important;*/
    }

    #description {
        flex: 1 !important;
    }

    .right {
        flex: 2 !important;
    }

    #layers{
        flex-direction: column;
    }

    #map-info {
        /*display: none;*/
    }

    #map {
        flex: 5;
    }


/*    section.left{
        float:left;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        height: 50%;
        z-index: 10;
    }

    div#map {
        position: relative;
        width: 100%;
        height: 50%;
        float: left;
    }

    #more-info{
    }
*/
}


.blink {
    animation-name: blink-btn;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes blink-btn {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.1;
    }
}




/*
@media(max-width:960x){
    div#map{
        position: absolute;
        z-index: 0;
        bottom: 0;
        top: 0;
        right: 0;
        left: 350px;
        background-color: #002147;
    }
}

@media(min-width:960x){
    div#map{
        position: absolute;
        z-index: 0;
        bottom: 0;
        top: 0;
        right: 0;
        left: 350px;
        background-color: #002147;
    }
}
*/


/*
div#overlay{
    position: absolute;
    z-index: 2;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background: url(../img/overlay.png) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    filter: progrid:DXImageTransform.Microsoft.AlphaImage(src='.../img/overlay.png', sizingMethod='scale');
    -ms-filter: "progrid:DXImageTransform.Microsoft.AlphaImage(src='../img/overlay.png', sizingMethod='scale')";
    pointer-events: none;
}

div#leftBkg{
    background: url(../img/leftBkg.png) repeat-y;
    width: 619px;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    pointer-events: none;
}

*/
