body{
    color: #FFFFFF;
    background-color: #002147;
    height: 100%;
    width: 100%;
}

a, h1, h2, h3, h4, span, p, table, tr, td, th {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: white;
}

.title {
    text-align: center;
    justify-content: center;
    padding: 3vh 3vw;

}
.title > h1 {
    font-size: 5em;
    /*background-color: #002147;*/
    padding: 2vh 2vw;
    /*float: left;*/
    /*margin: auto auto;*/
    /*left: 50%;*/
    display: inline-block;
}


.pane{
    height: 100vh;
    /*min-height: 500px;*/
    /*display: flex;*/
    /*flex-wrap: no-wrap;*/
    overflow: hidden;
}

.panel-content{
    padding: 3vh 3vw;
    font-size: 3.5em;
    text-align: center;
}

#discover{
    display: flex;
    flex-direction: row;
    /*display: none;*/

    max-height: 100vh;

}

.col-left{
    flex: 1;
    /*background-color: red;*/
    min-width: 300px;
    max-width: 300px;
}

.col-right{
    flex: 4;
    /*background-color: green;*/

    min-width: 350px;
}

#branding{
    padding: 10px 10px;
}

#georgetown-logo{
    width: 100%;
    margin-bottom: 10px;
}

#title{
    font-size: 45px;
    text-align: center;
}

#navigation{
    display: flex;
    flex-direction: column;
    height: 250px;
}

.navigation-link {
    flex: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #002147;
    /*padding: 10px;*/
    font-size: 2.2em;
}

.navigation-link:hover{
    background-color: #8D817B;
}

.bottom-container{
    position: relative;
}

.bottom{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


#map-container{
    /*display: flex;*/
    /*flex-direction: column;*/
    overflow: hidden;
}



#layers{
    flex: 1;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    height: 8vh;
}

.layer-wrapper {
    flex: 1;
    background-color: #002147;

    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 2vh;*/
}

.layer-wrapper:hover{
    background-color: rgba(141,129,123, 0.5);
}

.layer-wrapper.selected{
    background-color: #8D817B;
}

.layer-wrapper.selected:hover{
    background-color: rgba(141,129,123, 0.5);
}

.layer-content > span {
    font-size: 2em;
    /*font-size: 2.5vmin;*/
}


#map div:first-child{
    /*flex: 1 !important;*/
    /*position: relative !important;*/
    height: 92vh !important;
    /*width: auto !important;*/
}

.leaflet-control-attribution{
    display: none !important;
}

/**
 * Hover info
 */

#map-hover-info-container{
    padding: 0.5vh 1vw;
    opacity: 0;
}

#map-hover-info{
    border: 6px double #8D817B;
    height: 400px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#hover-title {
    flex: 1;
    /*background-color: red;*/
    font-size: 35px;
    padding-top: 2vh;
}

#hover-caption{
    flex: 1;
    font-size: 25px;
}

#hover-info-expanded{
    /*flex: 5;*/
}

#hover-info-expanded > table{
    width: 80%;
    margin: auto auto;
}

td {
    /*text-align: center;*/
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
}

td:first-child {
  /*padding-left: 2px;*/
  padding-right:0;
}

.variable-name{
    /*background-color: #8D817B;*/
    width: 10px;
}

.variable-content{
    /*background-color: red;*/
    width: 20px;
}

#learn-more{
    height: 75px;
    background-color: #002147;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2em;
    margin: 1vh 1vw;
}

#learn-more:hover{
    background-color: #8D817B;
}


.blink {
    animation-name: blink-btn;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes blink-btn {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.1;
    }
}


#share{
    margin: auto auto;
    margin-left: 7px;
    margin-top: 5px;
    /* TODO center this correctly */
}


/**
 * Learn
 */

#learn{
    background-color: #8D817B;
}

#learn > .title > h1 {
    font-size: 5em;

    border: 6px double #002147;
    background-color: none;
    /*background-color: #8D817B;*/
}

#learn-description {
    text-align: left;
    font-size: 0.7em;
    padding-top: 4vh;
}

/*.bottom-img-container{
    position: relative;
}

.bottom-img{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-color:orange;
}

#healy{
    opacity: 0.5;
}*/


/**
 * Engage
 */

#engage{
    background-color: #002147;
}


#engage > .title > h1 {
    font-size: 5em;

    border: 6px double #8D817B;
    background-color: none;
    /*background-color: #8D817B;*/
}

#engage-content{
    font-size: 5em;
}


/**
 * Scroll Top
 */

#toTop {
  position: fixed;
  height: auto;
  width: auto;
  right: 10px;
  top: 10px;
  font-size: 48px;
}
